extends ../layouts/default

block intro
  .headline-min
    .headline_container_left
      .headline_container_right
        .section.container

block content
  .container
    h1 #{gallery.name}
  .gallery_page-container
    .inner_page-bg
      ul.nav.nav-pills.col-sm-offset-1
        li.active
          a.navigation(href="/gallery")
            span.glyphicon.glyphicon-chevron-left
            |  Back
      if gallery.images.length
        #links
        each photo in gallery.images
          .gallery_photo
            a(href="#{photo.url}" title=photo.name data-gallery)
              img(src=photo.fill(200,200), alt=gallery.name)
      else
        h3.text-muted There are no images in this gallery.

  .blueimp-gallery.blueimp-gallery-controls#blueimp-gallery(data-use-bootstrap-modal="false")
    .slides
    h3.title
    a.prev
      span.glyphicon.glyphicon-chevron-left(style="")
    a.next
      span.glyphicon.glyphicon-chevron-right(style="")
    a.close
      span.glyphicon.glyphicon-remove
    a.play-pause
    ol.indicator

    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button") &times;
            h4.modal-title
          .modal-body.next
          .modal-footer
            button.btn.btn-default.pull-left.prev(type="button")
              i.glyphicon.glyphicon-chevron-left
              | Previous
            button.btn.btn-primary.next
              | Next
              i.glyphicon.glyphicon-chevron-right
