extends ../layouts/default

block intro
  .headline-min
    .headline_container_left
      .headline_container_right
        .section.container
  .container
    h1 Contact Us

block content
  .container-fluid.officer-container
    if officers
      each officer in officers
        .officer-square
          img(src=officer._.photo.fill(250,250), alt='photo of ' + officer.name.full)
          a(href='mailto:' + officer.email)
            span.glyphicon.glyphicon-envelope.font-lg
            | #{officer.email}
          h3 #{officer.name.full}
          h4 #{officer.role}
          p #{officer.bio}
    else
      | no officers wut!
