extends ../layouts/default

block intro
  .headline-min
      .headline_container_left
        .headline_container_right
          .section.container

block content
  .container
    h1 Submit a new job post!
  if enquirySubmitted
    h3 Thanks for submitting your job.
    p We'll review your ad an post display it after approval.
  .container-fluid
    .row
      .col-sm-9.col-sm-offset-1.job-form
        form.form-horizontal#jobForm(role='form' method='post')
          input(type='hidden', name='action', value='new')
          .form-group
            label.col-sm-3.control-label Title
            .col-sm-8
              input.form-control(type='text' name='title' value=formData.title required placeholder='Title')
          .form-group
            label.col-sm-3.control-label Description
            .col-sm-8
              textarea.form-control(rows='5' name='description' value=formData.description required placeholder='Description')
          .form-group
            label.col-sm-3.control-label Requirements
            .col-sm-8
              textarea.form-control(rows='5' name='requirements' value=formData.requirements required placeholder='Requirements')
          .form-group
            label.col-sm-3.control-label Company Name
            .col-sm-8
              input.form-control(type='text' name='companyName' value=formData.companyName required placeholder='Company Name')
          .form-group
            label.col-sm-3.control-label Company Description
            .col-sm-8
              textarea.form-control(rows='5' name='companyBlurb' value=formData.companyBlurb required placeholder='Company Description')
          .form-group
            label.col-sm-3.control-label Company Website
            .col-sm-8
              input.form-control(type='url' name='companyUrl' value=formData.companyUrl required placeholder='Company Website')
          .form-group
            label.col-sm-3.control-label City
            .col-sm-8
              input.form-control(type='text' name='city' value=formData.city required placeholder='City')
          .form-group
            label.col-sm-3.control-label State
            .col-sm-8
              input.form-control(type='text' name='state' value=formData.state required placeholder='State')
          .form-group
            label.col-sm-3.control-label Expiration Date
            .col-sm-5
              input.form-control.datepicker(type='date' name='expirationDate' required value=formData.expirationDate placeholder='Date')
          .form-group
            label.col-sm-3.control-label Email
            .col-sm-8
              input.form-control#inputEmail(type='email' name='email' value=formData.email required placeholder='Email')
          .form-group
            .col-sm-4.col-sm-offset-3.checkbox
              label.checkbox-inline.control-label
                input(type='checkbox' name='relocationOffered' value=formData.relocationOffered)
                | Relocation Offered
          .form-group
            .col-sm-offset-3.col-sm-10
              button.btn.btn-primary(type='submit') Submit
