extends ../layouts/default

block intro
  .container
    h1 Job Listings

block content
  .container-fluid
    .row
      .col-sm-7.col-sm-offset-2.job-list
        if jobs
          each job in jobs
            if job.approved
              .job-post
                h3
                  a(href="#") #{job.title}
                p
                  strong
                    a(href="#{job.companyUrl}") #{job.companyName} 
                  | #{job.location.suburb}, #{job.location.state} 
                  if job.relocationOffered
                    i (relocation offered)
                a.email(href='mailto:' + job.email)
                  span.glyphicon.glyphicon-envelope.font-lg
                  | #{job.email}
        else
          | no jobs wut!
      .col-sm-3
        // TODO hide on mobile. Make sidebar more sidebar-y
        a(href="/jobs/new")
          button.btn.btn-primary Submit your Job
