extends ../layouts/default

block intro
  .container
    h1 Job Listings

block content
  .container-fluid.officer-container
    if jobs
      each job in jobs
        .job-listing
          h3 #{job.title}
          p #{job.description}
          p #{job.location}
          p #{job.expirationDate}
          a(href='mailto:' + job.email)
            span.glyphicon.glyphicon-envelope.font-lg
            | #{job.email}
    else
      | no jobs wut!
