<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/slick.css"}}" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">

    {{> header}}

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
      <div class="pure-g section">
        <div class="pure-u-1 pure-u-md-1-24"></div>
        <div class="pure-u-1 pure-u-md-7-24">
          <h3>About SHPE</h3>
          <p>
            Lorem ipsum dolor sit amet, ex deleniti maluisset dissentiunt vis, illum suavitate sit id, at duis integre per. Qui cu docendi blandit assentior, est an inani nemore electram. Sea at alii eros, vim ea ridens minimum. 
          </p>
        </div>
        <div class="pure-u-1 pure-u-md-1-24"></div>
        <div class="pure-u-1 pure-u-md-6-24">
          <h3>Latest News</h3>
          San Jose Earthquakes Stadium Tour
          <hr>
          Welcome back mixer!
          <hr>
          SHPE Engineering Day at The Exploratorium
          <hr>
          Win a Chevrolet Spark! - SHPE Raffle
        </div>
        <div class="pure-u-1 pure-u-md-1-24"></div>
        <div class="pure-u-1 pure-u-md-7-24">
          <h3>Contact</h3>
          <form action="" class="pure-form">
            <input type="text" name="name" placeholder="Name" class="pure-input-1">
            <input type="email" name="email" placeholder="Email" class="pure-input-1" >
            <textarea name="message" placeholder="Message" class="pure-input-1" rows="3"></textarea>
            <br>
            <button type="submit" class="pure-button pure-button-primary">Send ></button>
          </form>
        </div>
        <div class="pure-u-1 pure-u-md-1-24"></div>
      </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for vimalSuite }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/slick.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/jquery-ui.js"}}"></script>

</body>
</html>
